<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-3p (%F:%L) %d{MM-dd HH:mm:ss,SSS} %m  \n"/>
        </layout>
    </appender>
    <!-- 输出日志到文件 -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>
</log4j:configuration>